* {
	box-sizing: border-box;
	/*border: solid 1px black;*/
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	line-height: 1.6;
}
.nav-wrapper {
	width: 992px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	/*padding-bottom: 30px;*/
	margin-bottom: 50px;
	background-color: rgba(122, 122, 122, 0.1);
	
}

.home-wrapper {
	width: 992px;
	margin-left: auto;
	margin-right: auto;
}

.vcard {
	width: 30%;
	display: inline-block;
	vertical-align: top;
}

.social	{
	margin-top: 20px;
}
.social a {
	text-align: center;	
	color: white;
	display: inline-block;
	border-radius: 50%;
	background-color: black;
	font-size: 24px;
	font-weight: bold;
	height: 50px;
	width: 50px;
	margin-right: 10px;
	line-height: 50px;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-transition: all .3s;

}

.social a:hover {
	background-color: #fed136;

}

.vcard-portrait{
	border-radius: 8px;
}

.vcard-fullname{
	padding-top: 10px;
	line-height: 30px;
	font-size: 26px;
}

.vcard-role {
	color: #666;
}
.vcard-detail {
	width: 69%;
	display: inline-block;
}

.vcard img {
	padding-top: 10px;
	width: 230px;

}

footer	{
	position:fixed;
   	left:0px;
   	bottom:0px;
   	height:30px;
   	width:100%;
   	background:#999;
   	text-align: center;

	/*bottom: 0;
	height: 50px;
	width: 100%;
	padding: 90px 0;
	text-align: center;
	font-size: 18px;*/
}